<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
	<prod>
		<phpSettings>
			<display_startup_errors value="0" />
			<display_errors value="0" />
		</phpSettings>
		<includePath><zf:const zf:name="APPLICATION_PATH" />/../lib</includePath>
		<bootstrap>
			<path><zf:const zf:name="APPLICATION_PATH" />/Bootstrap.php</path>
			<class>Bootstrap</class>
		</bootstrap>
		<autoloaderNamespaces>
			<ticket-system value="TicketSystem_" />
			<text value="Text_" />
			<cas value="CAS_" />
			<unl value="UNL_" />
		</autoloaderNamespaces>
		<resources>
			<frontController>
				<controllerDirectory><zf:const zf:name="APPLICATION_PATH" />/controllers</controllerDirectory>
			</frontController>
			<db>
				<adapter>pdo_mysql</adapter>
				<params>
					<host>kgabel.local</host>
					<username>ticket</username>
					<password>t1ck3t</password>
					<dbname>tickets</dbname>
				</params>
				<isDefaultTableAdapter value="true" />
			</db>
			<layout>
				<layout>page</layout>
			</layout>
			<view>
				<encoding value="UTF-8" />
			</view>
		</resources>
		
		<skin>
			<theme value="unl" />
		</skin>
		<routes>
			<ticket>
				<route>ticket/:id</route>
				<defaults>
					<controller value="ticket" />
					<action value="view" />
				</defaults>
				<reqs>
					<id value="\d+" />
				</reqs>
			</ticket>
			<report>
				<route>report/:id/*</route>
				<defaults>
					<controller value="report" />
					<action value="view" />
				</defaults>
				<reqs>
					<id value="\d+" />
				</reqs>
			</report>
		</routes>
		
		<reports>
			<report>
				<name>All Tickets</name>
				<search />
				<columns>
					<summary>
						<title>Summary</title>
						<index>_summary</index>
					</summary>
					<reporter>
						<title>Reporter</title>
						<index>_reporter</index>
					</reporter>
					<owner>
						<title>Owner</title>
						<index>owner</index>
					</owner>
					<status>
						<title>Status</title>
						<index>status</index>
					</status>
					<created>
						<title>Created</title>
						<index>_created</index>
					</created>
				</columns>
			</report>
			<report>
				<name>Active Tickets</name>
				<search>
					<status>
						<mode>!</mode>
						<value>closed</value>
					</status>
				</search>
				<default />
				<columns>
					<summary>
						<title>Summary</title>
						<index>_summary</index>
					</summary>
					<reporter>
						<title>Reporter</title>
						<index>_reporter</index>
					</reporter>
					<owner>
						<title>Owner</title>
						<index>owner</index>
					</owner>
					<status>
						<title>Status</title>
						<index>status</index>
					</status>
					<created>
						<title>Created</title>
						<index>_created</index>
					</created>
				</columns>
			</report>
			<report>
				<name>Closed Tickets</name>
				<search>
					<status>closed</status>
				</search>
				<columns>
					<summary>
						<title>Summary</title>
						<index>_summary</index>
					</summary>
					<reporter>
						<title>Reporter</title>
						<index>_reporter</index>
					</reporter>
					<owner>
						<title>Owner</title>
						<index>owner</index>
					</owner>
					<status>
						<title>Resolution</title>
						<index>resolution</index>
					</status>
					<modified>
						<title>Modified</title>
						<index>_modified</index>
					</modified>
				</columns>
			</report>
		</reports>
		<actions>
			<conditional>
				<type>attribute</type>
				<on>status</on>
				<value>closed</value>
				<children>
					<action>
						<name>reopen</name>
						<label>reopen</label>
						<order>20</order>
						<save>
							<status>reopened</status>
							<resolution></resolution>
						</save>
					</action>
				</children>
				<else>
					<conditional>
						<type>attribute</type>
						<on>status</on>
						<value>on hold</value>
						<children>
							<action>
								<name>unhold</name>
								<label>change</label>
								<order>20</order>
								<actionAttribute>
									<prior>
										<attribute>status</attribute>
										<default>new</default>
									</prior>
									<separator> to </separator>
								</actionAttribute>
								<save>
									<status><actionAttribute /></status>
								</save>
							</action>
						</children>
						<else>
							<action>
								<name>hold</name>
								<label>place</label>
								<order>20</order>
								<actionAttribute>
									<attribute><static>on hold</static></attribute>
								</actionAttribute>
								<save>
									<status><actionAttribute /></status>
								</save>
							</action>
						</else>
					</conditional>
					<action>
						<name>resolve</name>
						<label>resolve</label>
						<order>30</order>
						<actionAttribute>
							<attribute><model>resolution</model></attribute>
							<separator> as </separator>
						</actionAttribute>
						<description>The resolution will be set. Next status will be "closed"</description>
						<save>
							<status>closed</status>
						</save>
					</action>
					<conditional>
						<type>acl</type>
						<value>reassign</value>
						<children>
							<action>
								<name>reassign</name>
								<label>reassign</label>
								<order>40</order>
								<actionAttribute>
									<attribute><model>owner</model></attribute>
									<separator> to </separator>
								</actionAttribute>
								<description>The owner will change from {{owner}}. Next status will be "new"</description>
								<save>
									<status>new</status>
								</save>
							</action>
						</children>
					</conditional>
					<conditional>
						<type>attribute</type>
						<on>status</on>
						<value><not>assigned</not></value>
						<children>
							<action>
								<name>accept</name>
								<label>accept</label>
								<order>50</order>
								<description>The owner will change from {{owner}} to {{_auth}}. Next status will be "assigned"</description>
								<save>
									<owner>{{_auth}}</owner>
									<status>assigned</status>
								</save>
							</action>
						</children>
					</conditional>
				</else>
			</conditional>
		</actions>
		<handlers>
			<!-- EXAMPLE:
			<attr-name>
				<listValue>
					<class></class>
					<type>static|instance</type>
					<method></method>
				</listValue>
			</attr-name>
			-->
		</handlers>
	</prod>
	
	<dev zf:extends="prod">
		<phpSettings>
			<display_startup_errors value="1" />
			<display_errors value="1" />
		</phpSettings>
	</dev>
</config>
